+b.SECTION.main-block
    .content-block
        h1 DrawMachine      

        +b.CANVAS#canvas.canvas.js-canvas(width='960', height='500')
        +b.btn-style.draw-rect.js-draw-rect
            span Прямоугольник
        +b.btn-style.draw-arrow.js-draw-arrow
            span Стрелка
        +b.btn-style.draw-line.js-draw-line
            span Линия
        +b.btn-style.draw-circle.js-draw-circle
            span Круг