.main-block {
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    display: flex;
}

.canvas-wrap {
	position: relative;
	display: block;
}

.canvas {
	width: 960px;
	height: 500px;
	position: relative;
	display: block;
	margin: auto;
	border: 1px solid black;
	background-color: white;
}

.canvas-mouse-ev {
	position: absolute;
	z-index: 10;
	width: 960px;
	height: 500px;
	display: block;
	top: 0;
	left: 0;
}